.lecture_colum_box .lecture_column {
    float: left;
    width: 13.34%;
    padding: 15px;
    margin: 0 5px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px #d2d2d2;
}
.lecture_colum_box .lecture_column:hover {
    box-shadow: none;
}
.lecture_colum_box .lecture_column a {
    font-size: 13px;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 3px;
    width: 100%;
    height: 100%;
    padding: 3px 0 0;
}
.lecture_colum_box h3 {
    font-size: 17px;
    margin-bottom: 13px;
}
.lecture_colum_box p {
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}
.lecture_colum_box .lecture_tab {
    padding: 20px 30px;
    border-radius: 8px;
    background: #fff;
    margin-top: 25px;
    position: relative;
    box-shadow: 0 0 10px #d2d2d2;
}
.lecture_colum_box h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}
.lecture_colum_box .lecture_column_inner {
    float: left;
    width: 19%;
    padding: 15px;
    margin: 0 5px;
    border-radius: 8px;
    background: #f3f3f3;
    border: 1px solid #dedede;
}
.lecture_bottom_box {
    text-align: center;
    margin-top: 25px;
}
.lecture_bottom_box input[type="checkbox"] {
    opacity: 1;
    position: relative;
    top: 2px;
}
.lecture_bottom_box span {
    margin-left: 10px;
    color: #000;
}
.lecture_bottom_box_bt {
    margin-top: 10px;
}
.lecture_bottom_box_bt button {
    border: none;
    background: #242939;
    color: #fff;
    padding: 6px 30px;
    border-radius: 50px;
    font-size: 16px;
}
.lecture_bottom_box_bt button:hover {
    background: #000;
}
.lecture_colum_box .lecture_tab .closebtn {
    font-size: 28px;
    line-height: 22px;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 11px;
    border-radius: 50px;
    top: 11px;
    padding: 3px 0 0;
    box-shadow: 0 0 6px #d4d4d4;
}

@media(max-width: 1351px) {
    .lecture_colum_box .lecture_column {
        width: 13%;
    }
    .lecture_colum_box .lecture_column_inner {
        width: 18%;
    }
}
@media(max-width: 1066px) {
    .lecture_colum_box .lecture_column {
        width: 23.5%;
        margin-bottom: 20px;
    }
    .lecture_colum_box .lecture_column_inner {
        width: 31%;
        margin-bottom: 20px;
    }
}
@media(max-width: 767px) {
    .lecture_colum_box .lecture_column {
        width: 31%;
    }
    .lecture_colum_box .lecture_column_inner {
        width: 47%;
    }
}
@media(max-width: 541px) {
    .lecture_colum_box .lecture_column {
        width: 47%;
    }
}
@media(max-width: 414px) {
    .lecture_colum_box .lecture_column {
        width: 100%;
    }
    .lecture_colum_box .lecture_column_inner {
        width: 100%;
    }
}