/* navbar design */
.navbar {
    background-color: #fff;
    padding: 10px 15px;
    transition: 0.4s linear;
    box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.10);
    height: 74px;
}

.navbar a,
.sideoff-off a {
    font-family: latosb, sans-serif;
    font-size: 14px;
    color: #777171;
    align-items: center;
    display: flex;
}

.navbar li {
    margin: 0 7px;
    vertical-align: middle;
}

.navbar.top-nav-collapse {
    box-shadow: 4px 4px 10px #e4e4e4;
}

img.logo {
    max-height: 50px;
}

.sideoff-off a.nav-link {
    padding: 10px 0;
}

ul.nav.navbar-nav.ml-auto {
    justify-content: center;
    align-items: center;
}

.profile-cover {
    box-shadow: rgba(0, 0, 0, 0.90) 0px 9px 14px -10px;
    width: 40px;
    height: 40px;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-right: 7px;
}

/*sidebar and content*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
    background: #242939;
    box-shadow: inset -10px 0 30px 10px rgba(85, 99, 159, 0.02);
    position: fixed;
    height: 100%;
    z-index: 1032;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}




#sidebar.active .sidebar-header strong {
    display: block;
}



#sidebar.active ul li a {
    padding: 20px 10px;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #242939;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 0px 0;
    overflow-y: auto;
    height: 85%;
}

#sidebar ul li a {
    text-align: left;
    padding: 10px;
    font-size: 0.8em;
    display: block;
    color: #989EB3;
}

#sidebar ul li a:hover {
    color: #989EB3;
    background: #000;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: transparent;
}

.bottom-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-link .help-link {
    background: #FFFFFF;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 12px;
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
}

.bottom-link .help-link img {
    max-height: 22px;
    margin-right: 4px;
}

a[data-toggle="collapse"] {
    position: relative;
}

#sidebar ul.components li img.color,
#sidebar ul.components li a:hover img.color {
    opacity: 1;
    display: inline-block;
}

#sidebar ul.components li img.selected,
#sidebar ul.components li a:hover img.selected {
    opacity: 0;
    display: none;
}

#sidebar ul.components li.active img.selected,
#sidebar ul.components li.active a:hover img.selected {
    opacity: 1;
    display: inline-block;
}

#sidebar ul.components li.active img.color,
#sidebar ul.components li.active a:hover img.color {
    opacity: 0;
    display: none;
}

#sidebarCollapse {
    display: none;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: none;
}

#sidebar ul li a.dropdown-toggle .right-arrow {
    position: absolute;
    right: 10px;
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
    background: #252a39;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-left: 250px;
    background: #EDEFF2;
    box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.05);
    padding-top: 74px;
}

/*Dashboard Inner Content*/
.card-dashboard {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px 20px 50px;
    position: relative;
    overflow: hidden;
    transition: 0.4s linear;
}

.card-dashboard img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.card-dashboard p {
    color: #9191AF;
    font-size: 16px;
    margin-bottom: 10px;
}

.card-dashboard h3 {
    color: #212145;
    font-size: 32px;
}

.card-dashboard:hover {
    box-shadow: 5px 5px 20px -5px rgba(33, 33, 68, 0.2);
    transition: 0.4s linear;
}

.teachers .profile-cover {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 4px;
}

.teachers .profile-cover img {
    width: auto;
    height: auto;
    max-height: 50px;
    margin: 0 auto;
}

.teachers {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.profile-link a {
    font-size: 13px;
    color: #9191AF;
    display: inline-block;
}

.caps-head {
    text-transform: uppercase;
    font-size: 15px;
    color: #9191AF;
    font-family: latosb, sans-serif;
    margin-bottom: 10px;
}

.graph {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 16px;
}

.dropdown-div {
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 280px;
    top: 12px;
}

.dropdown-div .form-group {
    width: 48%;
    margin: 5px;
}

.inline_label {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Dashboard Parents*/
.data-head p {
    font-size: 18px;
    color: #3A3B3F;
    font-family: lator, sans-serif;
    font-weight: 500;
}

.data-detail {
    background: #F7F8FB;
    padding: 15px 10px;
    margin-top: 20px;
}

.data-detail p {
    font-size: 16px;
    color: #3A3B3F;
}

.data-detail a {
    color: #3093F3;
    text-decoration: underline !important;
}

.data-detail .theme_btn a {
    color: #fff;
    text-decoration: none !important;
}

dl .circle img {
    transform: rotate(0deg);
    transition: 0.4s linear;
}

dl.active .circle img {
    transform: rotate(90deg);
    transition: 0.4s linear;
}

.graph.table-div {
    padding: 0px;
    overflow: hidden;
}

.graph.table-div td {
    padding: 10px 15px;
    border-bottom: 1px solid #E4E7EB;
    font-size: 14px;
}

.graph.table-div tr:first-child td {
    font-size: 15px;
}

.graph.table-div tr:last-child td {
    border-bottom: 0;
}

.color_table th,
.color_table td {
    font-size: 16px;
    padding: 10px;
}

.color_table th {
    background: #EBEBF7;
    font-family: latosb, sans-serif;
}

.color_table td {
    background: #F7F8FB;
}

.currnet-green {
    display: inline-block;
    background: #0FB269;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.done-green {
    display: inline-block;
    background: #0FB269;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.done-green:after {
    content: '';
    display: block;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 3px 0px 0 5px;
}

/*tabs Gray*/
.theme_tab_gray .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    color: #616161;
    font-family: lator, sans-serif;
}

.theme_tab_gray .nav-tabs .nav-item.show .nav-link,
.theme_tab_gray .nav-tabs .nav-link.active {
    font-size: 20px;
    color: #565682;
    background-color: #EDEFF2;
    border-color: #979797 #979797 #EDEFF2;
    font-family: latosb, sans-serif;
}

.theme_tab_gray .nav-tabs {
    border-bottom: 1px solid #979797;
}

.card-grey {
    background: #F7F8FB;
    padding: 15px 15px 0;
    margin: 10px 0;
}

.card-grey .form-check {
    padding-left: 15px;
}

.bg-color-form {
    background: #F7F8FB;
    padding: 10px 20px;
    margin: 10px 0;
}

.color_table td .min_btn {
    padding: 6px 0;
}

table .dropdown_control {
    border: none;
    background-color: transparent;
}

table .form-group.form-check,
table .form-group {
    margin-bottom: 0;
}

button.btn-darkinfo {
    background: #282828;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    border: none;
    font-size: 14px;
}

button.btn-delete {
    background: transparent;
    border: none;
}

.image-edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.btn-upload-line {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
    color: #3093F3;
    text-decoration: underline;
    font-size: 16px;
    text-align: center;
}

.btn-upload-line input[type="file"] {
    position: absolute;
    opacity: 0;
    padding-top: 30px;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.blue-link {
    color: #3093F3;
    text-decoration: underline !important;
}

.add-img {
    position: absolute;
    right: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    z-index: 111;
}

.add-img a {
    position: relative;
    width: 30px;
    height: 30px;
    display: block;
}

/*For process steps*/
.process-step .btn:focus {
    outline: none
}

.process {
    display: table;
    width: 100%;
    position: relative
}

.process-row {
    display: table-row
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important
}

.process-row:before {
    top: 28px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 80%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.process-step {
    display: table-cell;
    text-align: center;
    position: relative
}

.process-step p {
    margin-top: 4px
}

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%
}

button.btn-process.active {
    background: #565682;
    color: #fff;
}

button.btn-process {
    background: #EEEEEE;
    border: none;
    border-radius: 100%;
    width: 50px;
    color: #989EB3;
    height: 50px;
}

.btn-flex {
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 991px) {
    #sidebar {
        margin-right: -250px !important;
        right: 0
    }

    .navbar .collapse:not(.show) {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    ul.nav.navbar-nav.ml-auto {
        flex-direction: row;
    }

    #sidebarCollapse {
        display: inline-block;
        color: #565682;
        background: transparent;
        border: none;
    }

    #sidebar.active {
        margin-right: 0 !important;
        right: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    #content {
        width: 100%;
        margin-left: 0;
        padding: 20px 0;
        padding-top: 74px;
    }

    .card-dashboard {
        margin-bottom: 20px;
    }

    .graph {
        margin-bottom: 20px;
    }

    .dropdown-div {
        width: 60%;
        left: 60px;
    }
}

@media (max-width: 768px) {

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
        font-size: 1.3em;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    .inline_label {
        display: block;
    }

    .dropdown-div.small-device {
        position: relative !important;
        width: 100%;
        left: 0;
        display: block;
        top: 0;
        margin-bottom: 30px;
    }

    .dropdown-div.small-device .form-group {
        width: 100%;
        margin: 0px auto 10px;
    }

}
