@font-face {
    font-family: "latob";
    /* src: url('../fonts/Lato-Bold.ttf'); */
    src: url("../fonts/lato-bold-webfont.woff2");
    font-display: swap;
}

@font-face {
    font-family: "latosb";
    /* src: url('../fonts/Lato-Semibold.ttf'); */
    src: url("../fonts/lato-semibold-webfont.woff2");
    font-display: swap;
}

@font-face {
    font-family: "latom";
    /* src: url('../fonts/Lato-Medium.ttf'); */
    src: url("../fonts/lato-medium-webfont.woff2");
    font-display: swap;
}

@font-face {
    font-family: "lator";
    /* src: url('../fonts/Lato-Regular.ttf'); */
    src: url("../fonts/lato-regular-webfont.woff2");
    font-display: swap;
}

@font-face {
    font-family: "latobl";
    /* src: url('../fonts/Lato-Black.ttf'); */
    src: url("../fonts/lato-black-webfont.woff2");
    font-display: swap;
}

:root {
    --white: #fff;
    --black: #000;
    --grey: #3a3b3f;
    --placeholder: #a1a1a6;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    font-family: lator, sans-serif;
    color: var(--grey);
    color: #3a3b3f;
    overflow-x: hidden;
}

#contents {
    transition: 0.4s linear;
}

html,
body {
    min-height: 100%;
}

a,
a:hover {
    color: #565682;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
hr,
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
    font-family: latob, sans-serif;
    font-weight: normal;
}

strong {
    font-weight: normal;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

.modal-open {
    overflow: hidden;
    position: fixed;
    height: 100%;
    left: 0;
    right: 0;
}

.modal-body {
    overflow: scroll;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

input:hover,
button:hover,
input:focus,
button:focus {
    outline: none;
}

input[type="radio"] {
    -webkit-appearance: radio;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control[readonly] {
    border: none !important;
    background: #ededed;
}

.form-group {
    position: relative;
    z-index: 2;
}

a,
button {
    text-decoration: none !important;
    transition: 0.4s linear;
    outline: none !important;
}

img {
    height: auto;
    width: auto;
    max-width: 100%;
}

select {
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--placeholder);
    color: #a1a1a6;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--placeholder);
    color: #a1a1a6;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--placeholder);
    color: #a1a1a6;
}

.mobile_view {
    display: none !important;
}

.bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section {
    padding: 30px 0px;
}

/*responsive menu*/
ul.res-navbar-nav li a {
    transition: 0.4s linear;
}

.sideoff-off {
    top: 0;
    right: 15px !important;
    left: 15px;
    background-color: #ffffff;
    width: calc(100% - 30px);
    margin: 0px auto;
    z-index: 9999 !important;
    overflow: hidden !important;
    display: none;
    position: fixed;
    border-radius: 3px;
    opacity: 0;
    transition: 0.6s;
    overflow-y: auto !important;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.sideoff-off.visible {
    opacity: 1;
    top: 15px;
    display: inline-block;
    max-height: 95vh;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden !important;
}

.navbar-toggle {
    position: relative;
    float: right;
    font-size: 22px;
    color: #000;
    display: none;
    margin-right: 10px;
}

.navbar-toggle:hover {
    color: #555252;
}

.noscroll {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    right: 0;
}

ul.nav.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: visible;
    /*overflow-y: hidden;*/
    flex-direction: row;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}

ul.nav.nav-tabs li {
    flex: 0 0 auto;
}

/* equal height */
.equal_height {
    box-sizing: border-box;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.equal_height > .equal_height_container {
    display: flex;
    width: 100%;
}

.equal_height > .equal_height_container > div {
    width: 100%;
}

/* animation effect */
.animation {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: initial;
    animation-timing-function: linear;
}

@keyframes rotateleft {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotateleft {
    animation-name: rotateleft;
}

@keyframes rotateright {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.rotateright {
    animation-name: rotateright;
}

@keyframes zoomin {
    0% {
        transform: scale(0.4);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.4);
    }
}

.zoomin {
    animation-name: zoomin;
}

@keyframes wave {
    0% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-15px) scale(1.1);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

.wave {
    animation-name: wave;
}

@keyframes slidedown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.slidedown {
    animation-name: slidedown;
}

@keyframes slideup {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.slideup {
    animation-name: slideup;
}

@keyframes slideright {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.slideright {
    animation-name: slideright;
}

@keyframes slideleft {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.slideleft {
    animation-name: slideleft;
}

@keyframes bubbletop {
    0% {
        transform: translateY(20px) scale(0.4);
    }

    50% {
        transform: translateY(-20px) scale(0.8);
    }

    100% {
        transform: translateY(-60px) scale(1.1);
    }
}

.bubbletop {
    animation-name: bubbletop;
}

@keyframes shake {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(35deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.shake {
    animation-name: shake;
}

.tab-pane.active {
    animation: slide-bottom 1s ease-out;
}

@keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* hover effect */
/* Underline From Center */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2f5596;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left.active:before {
    left: 0;
    right: 0;
}

/* form control */
label {
    font-size: 14px;
    font-family: latosb, sans-serif;
    color: #565682;
}

.form-control,
.form-control + .select2 .select2-selection {
    background: #ffffff;
    border: 1px solid #565682;
    border-radius: 8px;
    font-size: 16px;
    padding: 5px;
}

.form-control + .select2 .select2-selection {
    height: 37px;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    top: 6px;
}

.form-control + .select2 .select2-selection.select2-selection--multiple {
    padding: 0;
    height: auto;
}

.form-control:focus,
.auth_box .form-control:focus,
.setting_box .form-control:focus {
    box-shadow: none;
    border: 1px solid #2f5596;
}

.without_border {
    border: none;
    box-shadow: 0 10px 60px -5px rgba(0, 0, 0, 0.05);
}

.icon_control {
    background-size: 14px;
    background-position: 97%;
    padding-right: 30px;
    background-repeat: no-repeat;
}

.add_control {
    background-image: url(../images/location.png);
}

.pass_control {
    background-image: url(../images/ic_eye.png);
}

.date_control {
    background-image: url(../images/ic_calendar.png);
}

.time_control {
    background-image: url(../images/watch_black.png);
}

.dropdown_control {
    background-image: url(../images/ic_down.png);
}

.search_control {
    background-image: url(../images/ic_search_small.png);
}

.file_group input.form-control[readonly] {
    border: 1px solid #cccccc !important;
    background-color: #fafafa;
}

button.file_btn {
    width: 100px;
    background: #2f5596;
    border-radius: 4px;
    border: none;
}

input.file_control {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100px;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    padding-top: 50px;
    cursor: pointer;
}

button.file_upload_btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 100px;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
    border: none;
    background-image: linear-gradient(135deg, #120052 0%, #ff073a 100%);
    transition: 0.4s linear;
    z-index: 0;
}

button.file_upload_btn img {
    transition: 0.4s linear;
}

button.file_upload_btn:hover img {
    transform: translateY(-5px);
}

a.underline {
    text-decoration: underline !important;
}

/* datepicker design */
.datepicker th,
.datepicker td {
    padding: 3px 10px;
}

.datepicker {
    padding: 0;
}

.datepicker th.prev:hover,
.datepicker th.next:hover,
.datepicker td.active,
.datepicker .datepicker-days td:hover,
.datepicker th.datepicker-switch:hover,
.datepicker .active,
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
    background: none !important;
    background-color: #242939 !important;
    color: #fff !important;
}

.datepicker th.dow {
    border-radius: 0;
    background-color: #242939;
    color: #fff;
}

/*Custom Checkbox*/
input[type="checkbox"] {
    padding: 0;
    height: 17px;
    width: 17px;
    opacity: 0;
    cursor: pointer;
    margin: 0;
    position: absolute;
    left: 0;
    z-index: 2;
    top: 5px;
}

input[type="checkbox"] + label.custom_checkbox {
    position: relative;
    cursor: pointer;
    vertical-align: top;
    height: 20px;
    width: 20px;
}

input[type="checkbox"] + label.custom_checkbox:before {
    content: "";
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #2f5596;
    border-radius: 3px;
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin-right: 12px;
    top: 3px;
}

input[type="checkbox"]:checked + label.custom_checkbox:before {
    background-color: #2f5596;
}

input[type="checkbox"]:checked + label.custom_checkbox:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 6px;
    height: 11px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-check-label {
    width: calc(100% - 36px);
    display: inline-block;
    vertical-align: top;
    font-family: ttr, sans-serif;
}

.form-check-label a {
    text-decoration: underline !important;
    transition: 0.4s linear;
}

.form-check-label a:hover {
    opacity: 0.6;
}

.form-check.fullw {
    width: 100%;
}

/* custom radio */
.custom_check_div input[type="radio"] {
    position: absolute !important;
    left: 2px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    margin: 0;
    top: 9px;
}

input[type="radio"] + label.custom_radio {
    margin: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    vertical-align: middle;
    position: relative !important;
    cursor: pointer;
    outline: 0;
    border: 2px solid #282828;
    margin-right: 5px;
    opacity: 0.6;
}

input[type="radio"] + label.custom_radio:after {
    content: "";
    border-radius: 100%;
    transition: all 0.1s;
    height: 9px;
    width: 9px;
    background-color: #282828;
    display: inline-block;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked + label.custom_radio:after {
    opacity: 1;
}

input:checked + label.custom_radio {
    opacity: 1;
}

.form-check {
    padding-left: 0;
    width: auto;
    display: inline-block;
}

label.form-check-label {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

label.custom_checkbox + label.form-check-label {
    vertical-align: top;
}

.form-group.form_grey_bg {
    background: #f9f8f8;
    border-radius: 6px;
    border: none;
    padding: 10px 5px;
    height: auto;
    align-items: center;
}

/*range slider */
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 25px;
    width: 190px;
    cursor: pointer;
    border-radius: 0;
    /* iOS */
}

::-webkit-slider-runnable-track {
    background: #d8d8d8;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    /* 1 */
    height: 25px;
    background: #f0c141;
    box-shadow: -100vw 0 0 100vw #f0c141;
    border: none;
    /* 1 */
}

::-moz-range-track {
    height: 25px;
    background: #d8d8d8;
}

::-moz-range-progress {
    height: 25px;
    background: #f0c141;
}

::-moz-range-thumb {
    background: #f0c141;
    height: 25px;
    width: 20px;
    border: none;
    border-radius: 0 !important;
    box-shadow: none;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #f0c141;
}

::-ms-thumb {
    background: #f0c141;
    border: none;
    height: 25px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #d8d8d8;
    color: transparent;
    height: 25px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

/* IE*/
input[type="range"]::-ms-fill-lower {
    background-color: #f0c141;
}

input[type="range"]::-ms-fill-upper {
    background-color: #d8d8d8;
}

/* Rounded sliders */
.switch {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 20px;
    margin: 0;
    margin-top: 4px;
    vertical-align: top;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:after {
    content: "";
    display: inline-block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 1;
    background: #b0b0b0;
    border-radius: 15px;
    z-index: 1;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background: #b0b0b0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 2;
    border: 2px solid #fff;
}

input:checked + .slider:after {
    background: #2f5596;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #2f5596;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* theme btn design */
.theme_btn {
    height: 40px;
    line-height: 38px;
    padding: 0 10px;
    min-width: 220px;
    text-align: center;
    vertical-align: middle;
    transition: 0.4s linear;
    display: inline-block;
    font-family: latob, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background: #0fb2ab;
    border: 2px solid #0fb2ab;
    box-shadow: 0 8px 15px 5px rgba(15, 178, 171, 0.18);
    border-radius: 20px 0 20px 20px;
}

.theme_btn:hover {
    background-color: #fff;
    color: #0fb2ab;
}

.small_btn {
    min-width: 140px;
    font-size: 16px;
    padding: 0 5px;
}

.full_width {
    width: 100%;
    max-width: auto;
    min-width: 20px;
}

.red_btn {
    background: #ec4c47;
    border: 2px solid #ec4c47;
    box-shadow: 0 8px 15px 5px rgba(236, 76, 71, 0.2);
}

.red_btn:hover {
    color: #ec4c47;
}

.min_btn {
    font-size: 12px;
    min-width: 100px;
    height: 30px;
    line-height: 14px;
}

button.theme_btn.full_width.small_btn {
    float: right;
    min-height: 40px;
    line-height: 1.4;
    height: auto;
    width: calc(100% + 20px);
    padding: 0 5px;
}

/* theme table */
.theme_table {
    background: #ffffff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    overflow: hidden;
}

table {
    width: 100%;
}

.theme_table th,
.theme_table td {
    padding: 11px 8px;
    font-size: 15px;
    font-weight: normal;
    color: #3a3b3f;
    border-bottom: 1px solid #e4e7eb;
}

.theme_table tr:last-child td {
    border-bottom: none;
}

.theme_table td {
    font-size: 14px;
    font-family: latosb, sans-serif;
}

td.action img {
    max-height: 16px;
}

td.action a {
    margin: 0 5px;
}

th .action {
    width: 85px;
    margin: 0;
}

/* ==============
  Loader
===================*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(238, 238, 238, 0.66);
    z-index: 9999999;
    transition: 0.4s linear;
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 53%;
    margin: -20px 0 0 -20px;
}

.spinner {
    position: absolute;
    width: 78px;
    height: 78px;
    left: 50%;
    margin-left: -39px;
    margin-top: -39px;
}

.spinner:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -23px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: $primary rgba($primary, 0.3);
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 3.45s infinite;
    -o-animation: spin 3.45s infinite;
    -ms-animation: spin 3.45s infinite;
    -webkit-animation: spin 3.45s infinite;
    -moz-animation: spin 3.45s infinite;
}

.spinner:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    left: 50%;
    margin-left: -6px;
    background-color: $primary;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -o-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -ms-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -webkit-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
    -moz-animation: pulse 6.9s infinite, borderPulse 6.9s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    50% {
        -o-transform: rotate(360deg);
    }

    100% {
        -o-transform: rotate(1080deg);
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
    }

    50% {
        -ms-transform: rotate(360deg);
    }

    100% {
        -ms-transform: rotate(1080deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(1080deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    50% {
        -moz-transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(1080deg);
    }
}

/* Login page */
.auth_container {
    background: #edeff2;
    box-shadow: 0 0 60px 30px rgba(0, 0, 0, 0.05);
    min-height: 100vh;
    padding: 50px 0px;
}

img.login_logo {
    margin-bottom: 50px;
    max-height: 60px;
}

.auth_box {
    background: #ffffff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    width: 770px;
    margin: 0 auto;
    max-width: 100%;
    padding: 30px;
    position: relative;
}

.login_botton_shape {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.auth_box h1 {
    text-align: center;
    font-family: latob, sans-serif;
    font-size: 36px;
    color: #212145;
    margin-bottom: 20px;
}

.auth_link {
    font-family: latosb, sans-serif;
    font-size: 16px;
    color: #565682;
    text-decoration: underline !important;
    margin-top: 20px;
    display: inline-block;
}

.auth_btn {
    margin-top: 20px;
}

.error_msg {
    font-family: latosb, sans-serif;
    font-size: 14px;
    color: #ec4c47;
    margin-top: 4px;
}

.green_msg {
    font-family: latosb, sans-serif;
    font-size: 14px;
    margin-top: 4px;
    color: #0fb269;
}

.process_msg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.process_msg p.or {
    margin: 10px 0px;
}

.auth_text {
    font-size: 16px;
    color: #565682;
    letter-spacing: 0.49px;
    text-align: center;
    margin: 10px 0;
}

/***************  scrolling tab  ************************/
.theme_tab ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    flex: 1;
    -webkit-overflow-scrolling: touch;
}

.theme_tab ul li {
    flex: 0 0 auto;
    margin-bottom: 0 !important;
}

/* theme tab */
.title {
    font-family: latob, sans-serif;
    font-size: 22px;
    color: #565682;
    margin-bottom: 15px;
}

.white_box {
    background: #ffffff;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    overflow: hidden;
}

.theme_tab .nav-link {
    font-family: latosb, sans-serif;
    font-size: 16px;
    color: #212145;
    border: none;
}

.theme_tab .nav-link.active {
    border: none;
    border-bottom: 1px solid #0fb2ab;
}

.theme_tab .nav-tabs {
    padding: 0 15px;
}

.theme_tab .tab-content {
    padding: 40px 15px;
}

.profile_box {
    display: inline-block;
    position: relative;
}

.profile_pic {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 3px solid #565682;
    display: flex;
    box-shadow: 0 21px 30px 4px rgba(0, 0, 0, 0.32);
}

.profile_pic img {
    max-height: 140px;
}

.edit_pencile {
    position: absolute;
    height: 30px;
    width: 30px;
    background: #ffffff;
    border: 1px solid #565682;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    bottom: 20px;
    right: -6px;
}

.edit_pencile input[type="file"] {
    position: absolute;
    opacity: 0;
    padding-top: 30px;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.edit_pencile img {
    max-height: 15px;
}

.profile_name {
    font-family: latosb, sans-serif;
    font-size: 18px;
    color: #3a3b3f;
    letter-spacing: 0.64px;
    margin-top: 15px;
}

p.profile_mail {
    font-size: 16px;
    color: #616161;
    letter-spacing: 0.58px;
    margin-top: 4px;
}

.profile_info_container {
    margin: 30px 0px 20px;
    background-color: #f7f8fb;
    padding: 10px 10px 0;
}

p.label,
p.value {
    font-size: 16px;
}

p.value {
    font-family: latosb, sans-serif;
    color: #565682;
    letter-spacing: 0.64px;
    word-break: break-word;
}

.theme_tab .tab-content .theme_btn {
    margin: 3px;
}

/* theme modal */
.theme_modal .modal-dialog {
    width: 700px;
    max-width: 95%;
}

.theme_modal .modal-content {
    background: #ffffff;
    border-radius: 16px;
    border: none;
    overflow: hidden;
}

.theme_modal .modal-content .modal-body {
    padding: 40px;
    position: relative;
}

.theme_modal img.modal_top_bg {
    position: absolute;
    top: 0;
    right: 0;
}

.theme_modal button.close {
    position: absolute;
    top: 13px;
    right: 13px;
    z-index: 99;
    opacity: 1;
}

.theme_modal .modal-title {
    font-size: 32px;
    color: #212145;
    text-align: center;
    margin-bottom: 20px;
}

.modal_btn {
    margin-top: 30px;
}

.profile_inner_title {
    font-size: 18px;
    color: #3a3b3f;
    letter-spacing: 0.7px;
    margin-bottom: 12px;
}

table.profile_table {
    width: 100%;
    vertical-align: top;
}

table.profile_table td {
    vertical-align: top;
    padding-bottom: 20px;
}

table.profile_table td a {
    text-decoration: underline !important;
    color: #3093f3;
}

.profile_info_container .form-control {
    border: none;
}

.profile_info_container .form-control.form-control-border {
    border: 1px solid #565682;
    width: 80px;
}

.upload_file {
    position: relative;
    overflow: hidden;
}

.upload_file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 40px;
    cursor: pointer;
    opacity: 0;
}

img.close_img {
    max-height: 20px;
    cursor: pointer;
}

/* notification screen */
.notification_dropdown .dropdown-menu {
    width: 300px;
    background: #ffffff;
    border-radius: 16px;
    border-bottom: 5px solid #0fb2ab;
}

.notification_dropdown li p.noti_pere {
    font-size: 13px;
    color: #3a3b3f;
    letter-spacing: 0.46px;
    width: calc(100% - 18px);
}

.notification_dropdown li {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
    box-shadow: 0 1px 0 0 #edeff2;
    margin: 0;
}

.notification_dropdown li .close_noti {
    width: 16px;
    cursor: pointer;
}

.notification_dropdown li:last-child {
    box-shadow: none;
}

.noti_pera_img {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 5px;
}

.noti_single {
    padding: 10px;
    box-shadow: 0 1px 0 0 #dce1ee;
    transition: 0.4s linear;
}

.noti_pera_img .close_noti {
    width: 17px;
    cursor: pointer;
}

.noti_pera_img p.noti_pera {
    width: calc(100% - 19px);
}

.date_time_span span {
    font-family: latom, sans-serif;
    font-size: 14px;
    color: #616161;
    letter-spacing: 0.4px;
    margin-left: 15px;
}

.noti_single:hover {
    background: rgba(220, 225, 238, 0.2);
}

.title span {
    color: #a0a1bb;
}

.upload_pic_link {
    text-align: center;
    margin: 20px 0px;
}

.upload_pic_link a {
    font-family: latosb, sans-serif;
    font-size: 18px;
    color: #0fb2ab;
    text-decoration: underline !important;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_pic_link input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    opacity: 0;
    cursor: pointer;
}

td.status span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 10px;
}

.active_status span {
    background-color: #47b881;
}

.pending_status span {
    background-color: #f7d154;
}

.disable_status span {
    background-color: #ec4c47;
}

.white_box form .text-center,
form#edit-education-plan .text-center {
    margin-top: 20px;
}

table.color_table select.dropdown_control {
    background-color: #fff;
}

/* loginAs design */
.sticky_login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    background-color: #edeff2;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky_login p {
    color: #565682;
    font-size: 16px;
    font-family: latosb, sans-serif;
}

.wrapper.loginAs #sidebar {
    top: 52px;
}

.wrapper.loginAs .navbar {
    top: 52px;
}

.wrapper.loginAs #content {
    padding-top: 126px;
}

/*#sidebar a.dropdown-toggle.collapsed svg {*/
/*    transform: rotate(0deg);*/
/*}*/
/* a.dropdown-toggle:not(.collapsed) svg {
    transform: rotate(0deg) !important;
} */
#sidebar a.dropdown-toggle[aria-expanded="false"] svg {
    transform: rotate(0deg) !important;
}

#sidebar a.dropdown-toggle svg {
    transform: rotate(180deg);
}

/* expand table design */
.expand_div {
    background-color: #eee;
    padding: 8px;
}

.expand_div p.value {
    margin-bottom: 5px;
}

.expand_table td {
    color: #565682;
    font-family: latob, sans-serif;
}

.expand_table td p.label {
    color: #3a3b3f;
}

.collapse_sign {
    cursor: pointer;
}

/* teacher new header section */
.section_search_group {
    display: flex;
    align-items: center;
    margin: 0;
}

.section_search_group label {
    flex-basis: 133px;
    text-align: right;
    padding-right: 9px;
    margin: 0;
}

.section_search {
    padding: 12px 0px;
    background-color: #dadada;
    /*box-shadow: 4px 4px 10px #d8d8d8;*/
    width: calc(100% + 40px);
    transform: translateX(-20px);
    margin-bottom: 25px;
}

.section_search_group.section_search_group_small label {
    flex-basis: auto;
}

/* hack for ie browser */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .zoomIn {
        animation-name: none !important;
    }
}

/* responsive css */
@media (max-width: 1200px) {
    .is_employee select#role_drop_down {
        width: 270px;
    }
}

@media (max-width: 991px) {
    .section_search {
        width: 100%;
        transform: translate(0);
    }
}

@media (max-width: 767px) {
    .auth_container {
        padding: 25px 0px;
    }

    img.login_logo {
        margin-bottom: 25px;
        max-height: 45px;
    }

    .auth_box {
        padding: 20px;
    }

    .auth_box h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .title {
        font-size: 18px;
    }

    .profile_pic {
        height: 100px;
        width: 100px;
    }

    .profile_pic img {
        max-height: 120px;
    }

    .theme_modal .modal-title {
        font-size: 28px;
    }

    .theme_modal .modal-content .modal-body {
        padding: 40px 15px;
    }

    .sticky_login p {
        width: calc(100% - 50px);
    }

    form#loginForm .row {
        position: relative;
        z-index: 2;
    }

    .is_employee select#role_drop_down {
        width: 95px;
    }

    .section_search_group {
        margin: 3px 0px;
    }
}

@media (max-width: 575px) {
    .is_employee select#role_drop_down {
        width: 100%;
    }

    .is_employee .navbar {
        height: 105px;
    }

    .is_employee div#content {
        padding-top: 105px;
    }

    .is_employee ul.nav.navbar-nav.ml-auto {
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
    }

    .is_employee .navbar-collapse {
        align-items: flex-start;
    }

    .section_search_group label {
        flex-basis: 170px;
        text-align: left;
    }

    .wrapper.loginAs #content {
        padding-top: 158px;
    }

    .wrapper.loginAs .navbar select {
        max-width: 160px;
    }
}

@media (max-width: 480px) {
    .auth_box h1 {
        font-size: 24px;
    }

    .theme_modal .modal-title {
        font-size: 22px;
    }

    .navbar li {
        margin: 0 4px !important;
    }

    .navbar li img {
        max-height: 20px;
    }

    .navbar .profile-cover img {
        max-height: 40px;
    }

    #sidebarCollapse {
        padding: 4px;
    }

    #sidebarCollapse + ul.nav.navbar-nav.ml-auto {
        margin-left: 5px !important;
        width: 100%;
    }
}

.dataTables_length {
    padding: 10px 5px 0;
    text-align: center;
}

.dataTables_length label {
    font-size: 18px;
    color: #333;
}

.dataTables_info {
    padding: 0 5px;
}

.dataTables_paginate {
    border: 1px solid #242939;
    margin: 5px;
    border-radius: 11px;
    padding: 0 !important;
    overflow: hidden;
    font-size: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none !important;
    background-color: #242939 !important;
    color: #fff !important;
    border: 1px solid #242939 !important;
    border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-right: 1px solid #242939 !important;
    margin: 0;
    font-size: 14px;
    border-radius: 0;
    display: inline-block;
    height: 100%;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    border-right: none !important;
}

.dataTables_length select {
    min-width: 30px;
    border-radius: 5px;
    padding: 2px 5px;
    width: auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    cursor: no-drop !important;
    pointer-events: none;
}

div#content {
    position: relative;
}

#preloader_new {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(238, 238, 238, 0.66);
    z-index: 9999999;
    transition: 0.4s linear;
}

div#status_new {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide_content {
    display: none;
}

.input_disable {
    pointer-events: none;
}

.input_disable + .select2.select2-container,
select[readonly] + .select2.select2-container {
    pointer-events: none;
}

/*country code dropdown*/

div#language_drop_down_msdd {
    border: 1px solid #242939 !important;
}

#language_drop_down_msdd #language_drop_down_title {
    background-color: #fff;
    border-radius: 4px;
}

.dd .divider {
    border-left: 1px solid #242939 !important;
}

.dd .arrow:hover {
    background-position: 0 0 !important;
}

.dd .ddChild li {
    margin: 0;
}

.dd .ddChild li.selected {
    background-color: #242939 !important;
    color: #fff;
}

.dd .ddChild li.selected .ddlabel {
    color: #fff;
}

.dd .ddChild li .ddlabel {
    font-size: 16px !important;
}

.dd .ddTitle {
    border-radius: 4px;
}

.custom-drop-down {
    position: relative;
    display: inline-block;
    width: auto;
    margin-top: 0;
    font-family: verdana, sans-serif;
}

.custom-drop-down select {
    display: none;
}

.custom-drop-down .select-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 40px;
    padding: 0;
    right: 0;
    background-color: #fff;
    opacity: 1;
    border-radius: 0 0 4px 4px !important;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.custom-drop-down .select-list li {
    display: none;
    list-style-type: none;
    margin: 0;
    height: 35px;
    cursor: pointer;
}

.custom-drop-down .select-list li span {
    display: inline-block;
    padding: 5px 15px 5px 35px;
    background-position: left 10px center;
    background-repeat: no-repeat;
    text-align: left;
    box-sizing: border-box;
    min-width: 130px;
    width: 130px;

    min-height: 35px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #c3c3c3;
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.custom-drop-down .select-list li span:hover,
.custom-drop-down .select-list li span:focus {
    opacity: 1;
}

.custom_flag {
    background-size: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 24px;
    height: 25px;
    background-position: left center;
}

.custom-drop-down .button {
    display: inline-flex;
    justify-content: space-between;
    width: 130px;
    border: 1px solid #252a39;
    border-radius: 4px;
    height: auto;
    padding: 0 7px;
    align-items: center;
}

.custom-drop-down .button span.custom_flag {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    height: auto;
    border-right: 1px solid #242939;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.custom-drop-down .select-list li.clsAnchor.active {
    background-color: #252a39;
    opacity: 1;
}

.custom-drop-down .select-list li.clsAnchor.active span {
    background-color: #252a39 !important;
    opacity: 1;
    color: #fff;
}

.custom-drop-down .select-list li:last-child span {
    border-bottom: none;
}

.custom-drop-down .select-list li.clsAnchor:hover span {
    background-color: #f2f2f2;
}

.custom-drop-down .button span {
    font-size: 16px;
    width: calc(100% - 16px);
}

.flag_box .profile_pic {
    height: 80px;
    width: 110px;
    border-radius: 4px;
}

.flag_box .edit_pencile {
    top: -11px;
    right: -15px;
}

.flag_box .profile_pic img {
    max-height: 80px;
}

.alert a {
    text-decoration: none;
}

.loginas-alert.fade.show {
    position: absolute;
    top: 0;
    z-index: 11111;
    width: 100%;
    border-radius: 0;
    background: #edeff2;
    text-align: center;
    font-size: 20px;
    color: #565682;
    border: none;
    font-family: latosb, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.loginas-alert.fade.show + .alert-bg {
    display: block;
    z-index: 2222;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.no_scroll {
    overflow: hidden;
}

.visibility_hidden {
    visibility: hidden;
}

span.close_spn {
    cursor: pointer;
}

.sch_imgs,
.old_sch_imgs {
    display: inline-block;
}

div#add_new {
    z-index: 9999;
}

.custom_badge {
    font-size: 15px;
}

.btn_margin {
    margin: 0 4px;
}

div#upload-demo {
    height: 160px;
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    border: 1px solid #59d6b9;
}

div#upload-demo .cr-viewport.cr-vp-circle {
    height: 160px !important;
    width: 160px !important;
    box-shadow: 0 0 2000px 2000px rgba(170, 234, 212, 0.4);
}

div#upload-demo .cr-boundary {
    width: 160px !important;
    height: 160px !important;
}

div#upload-demo img.cr-image {
    opacity: 0;
}

button.upload-result {
    margin-top: 30px;
}

.edit_icon input[type="file"] {
    top: 0;
}

div#upload-demo {
    height: 160px;
    width: 160px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    border: 1px solid #59d6b9;
}

div#upload-demo .cr-viewport.cr-vp-circle {
    height: 160px !important;
    width: 160px !important;
    box-shadow: 0 0 2000px 2000px rgba(170, 234, 212, 0.4);
}

div#upload-demo .cr-boundary {
    width: 160px !important;
    height: 160px !important;
}

div#upload-demo img.cr-image {
    opacity: 0;
}

button.upload-result {
    margin-top: 30px;
}

.edit_icon input[type="file"] {
    top: 0;
}

.theme_table .dropdown-item {
    padding: 2px 5px;
    font-size: 14px;
    display: inline-block;
    word-break: break-word;
    white-space: pre-wrap;
}

.theme_table .dropdown-menu {
    padding: 0;
    width: 220px;
}

.theme_table .dropdown-toggle::after {
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    right: 8px;
}

.theme_table .dropdown-toggle {
    padding-right: 25px;
}

.course_details {
    max-height: calc(100vh - 320px);
    overflow: hidden;
    overflow-y: auto;
}

.card-text {
    font-size: 15px;
}
